# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual env / conda
# =========================
.env
.venv
env/
venv/


# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store

# =========================
# Project specific
# =========================

*.conda
*.tar.bz2

